@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-family: 'Mulish', sans-serif;
    /* font-family: 'Source Serif 4', sans-serif; */
    /* font-family: 'Lora', serif; */
    /* font-family: 'Nunito', sans-serif; */
    /* font-family: 'Raleway', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.active{
  @apply bg-white/40  text-white
}
.activeForm{
  @apply text-rose-500 border-rose-500 border-b-2
}
/*
 * Configure the z-index of the editor UI, so when inside a Materialize
 * modal, it will be rendered over the modal.
 */
 :root {
  --ck-z-default: 100;
  --ck-z-modal: calc( var(--ck-z-default) + 999 );
}

/*
* Bring back the default CKEditor 5 input appearance by overriding
* high–specificity styles brought by materialize.css.
*
* See: https://github.com/Dogfalo/materialize/blob/v1-dev/sass/components/forms/_input-fields.scss#L10-L40
*/
.ck input.ck-input {
  background: blue;
  border: 1px solid var(--ck-color-input-border);
  padding: var(--ck-spacing-extra-tiny) var(--ck-spacing-medium);
  transition-property: box-shadow,border;
  transition: .2s ease-in-out;

  height: 200px;
  width: 200px;
  font-size: inherit;
  margin: 0;
  box-sizing: border-box;
}

.ck input.ck-input.ck-input-text:focus {
  border: var(--ck-focus-ring);
  box-shadow: var(--ck-focus-outer-shadow),var(--ck-inner-shadow);
}

.wrapper-class {
  padding: 1rem;
  border: 1px solid #ccc;
  background-color: rgb(226 232 240);
}
.editor-class {
  background-color:#fff;
  padding: 1rem;
  margin-top: 0.8rem;
  border: 1px solid #ccc;
}
.toolbar-class {
  border: 1px solid #ccc;
}